.celeste-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.celeste-hero {
  width: 100%;
  height: var(--dl-size-size-maxwidth);
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("/maxresdefault-1500w.jpg");
}
.celeste-text {
  color: rgb(255, 255, 255);
  font-size: 64px;
  align-self: flex-start;
  font-family: Manrope;
  font-weight: 900;
}
.celeste-text3 {
  font-weight: 200;
}
.celeste-text5 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-family: Manrope;
  font-weight: 500;
}
.celeste-link {
  color: #ffffff;
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-medium);
  font-size: 32px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  font-family: Manrope;
  font-weight: 700;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
  background-color: #000000;
}
@media(max-width: 991px) {
  .celeste-hero {
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .celeste-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .celeste-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
