.linux-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.linux-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.linux-container1 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.linux-text {
  font-size: 3rem;
  max-width: 450px;
}
.linux-text01 {
  font-size: 32px;
  margin-top: var(--dl-space-space-twounits);
  font-family: Manrope;
  margin-bottom: var(--dl-space-space-twounits);
}
.linux-text02 {
  font-style: normal;
  font-weight: 700;
}
.linux-text05 {
  font-weight: 700;
}
.linux-text08 {
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
}
.linux-text09 {
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
}
.linux-text11 {
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
}
.linux-text12 {
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
}
.linux-text14 {
  color: #ff0000;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 991px) {
  .linux-hero {
    flex-direction: column;
  }
  .linux-container1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .linux-text {
    text-align: center;
  }
  .linux-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .linux-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .linux-text01 {
    font-size: 32px;
    font-family: Manrope;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .linux-text02 {
    font-size: 32px;
    font-style: normal;
    font-family: Manrope;
    font-weight: 700;
  }
  .linux-text03 {
    font-style: normal;
    font-weight: 700;
  }
  .linux-text04 {
    font-style: normal;
    font-weight: 700;
  }
  .linux-text05 {
    font-style: normal;
    font-weight: 800;
  }
  .linux-text06 {
    font-style: normal;
    font-weight: 700;
  }
  .linux-text07 {
    color: #ff0000;
    font-style: normal;
    font-weight: 700;
  }
  .linux-text08 {
    color: #ff0000;
    font-style: normal;
    font-weight: 700;
  }
  .linux-text09 {
    color: #ff0000;
    font-style: inherit;
    font-weight: 500;
  }
  .linux-text10 {
    color: #ff0000;
    font-style: inherit;
    font-weight: 500;
  }
  .linux-text11 {
    color: #ff0000;
    font-style: inherit;
    font-weight: 500;
  }
  .linux-text12 {
    color: #ff0000;
    font-style: normal;
    font-weight: 700;
  }
  .linux-text13 {
    color: #ff0000;
    font-style: normal;
    font-weight: 800;
  }
  .linux-text14 {
    color: #ff0000;
    font-style: normal;
    font-weight: 800;
  }
}
@media(max-width: 479px) {
  .linux-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .linux-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
